[Unit]
Description=Raspberry Pi Monitor Service
Documentation=https://github.com/fantastM/raspberrypi-monitor-oled/
After=network.target

[Service]
Type=simple
PIDFile=/run/raspberrypi-monitor.pid
ExecStart=
ExecReload=
ExecStop=
Restart=on-failure
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target
